body {
    background-color: #313131;
    font-family: sans-serif;
}

#headpane {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: rgba(199, 255, 255, 0.555);
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: large;

}

.branchpanel {
    display: inline-block;
    min-width: max-content;
    text-align: center;
    vertical-align: top;
}
textarea {
    resize: none;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;      
    white-space: pre-wrap;    
    word-wrap: break-word;   
    width: 394px;
    height: 120px;
    margin-left: 20px;
    margin-right: 20px;
}

.topflow {
    background-color: white;
    width: 2px;
    height: 50px;
    margin-left: 219px;
}
body > .branchpanel > hr {
    display:none;
}
body > .branchpanel > #branch_container > .topflow:first-of-type {
    display:none;
}
#branch_container {
    font-size: 0;
    display: inline-block;
}
.branchbtn {
    margin-right: 0;
    margin-left: 0;
    width: 100px;
    font-size: 16px;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    height: 2px;
    border: none;
    background: white;
}

.branchpanel:nth-child(4) > hr{
    background: linear-gradient(to right, transparent 50%, white 50%);
}

.branchpanel:last-of-type > hr{
    background: linear-gradient(to right, white 50%, transparent 50%);
}

.branchpanel:nth-child(4):last-of-type > hr{
    background: linear-gradient(to left, transparent 50%, transparent 50%);
}
br {
    margin: 0;
    font-size:0;
    height: 0;
}

.branchpanel:not(:has(.branchpanel)) > #branch_container > .topflow:last-of-type {
    visibility: hidden;
}
#toast {
    visibility: hidden;
    min-width: 200px;
    background-color: #be6a6a;
    color: #221515;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.5s;
}
    
#download {
    position: fixed;
    background-color: #1d9ebe;
    color: white;
    font-weight: bold;
    width: 90px;
    height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border-radius: 5px;
    top: 13px;
    left: 20px;
    z-index: 9999;
    cursor: pointer;
}
#upload {
    position: fixed;
    width: 90px;
    height: 30px;
    background-color: #1d9ebe;
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border-radius: 5px;
    top: 13px;
    left: 110px;
    z-index: 9999;
    cursor: pointer;
}
